In [42]:
# debugging and formatter
from IPython.core.debugger import set_trace

import pandas as pd
import numpy as np
import os
import random
import matplotlib.pyplot as plt
import pickle
import time

%matplotlib inline

In [43]:
#!pip install faker

In [44]:
from faker import Faker

fake = Faker()

def faker_categorical(num=1, seed=None):
    """
    """
    np.random.seed(seed)
    fake.seed_instance(seed)

    output = [
        {
            "Name": fake.last_name(),
            "Email": fake.free_email(),
            "Greek": np.random.choice([np.nan, "AEPhi", "AEPi", "ZBT", "Pi Phi", "Chi O", "Theta", "Phi Mu", "Kappa",
                                      "Zeta Psi", "KSig", "SigEp"]),
            "Gender": np.random.choice(["M", "F", "Not Specified"], p=[0.3, 0.6, 0.1]),
            "Year": np.random.choice(["Freshman", "Sophmore", "Junior", "Senior", "Graduate"]),
            "Dorm": np.random.choice(["Sharp 1", "Sharp 2", "Irby 345", "Phelps 233", "Mayer 420", "Butler 5",
                                     "Sharp 4", "Monroe 2", "Irby 385", "Aron 233", "Mayer 400", "Aron 439"]),
            "Clubs": np.random.choice([np.nan, "Book club", "Cycling", "Tennis Club", "Soccer Club", "Rowing",
                                        "Karate", "Baseball Club", "Comedy Club", "Feminism", "Dance Team",
                                      "Running", "Walking", "Cookies and Code"])
#             "avg_rating": np.random.choice(
#                 np.arange(0, 6, 1), p=[0.5, 0.05, 0.05, 0.30, 0.05, 0.05]
#             ),
        }
        for x in range(num)
    ]
    return output

In [45]:
df = pd.DataFrame(faker_categorical(num=100, seed=0))
df

,Name,Email,Greek,Gender,Year,Dorm,Clubs
0,Richard,nfisher@yahoo.com,Chi O,F,Senior,Phelps 233,Baseball Club
1,Sullivan,yturner@yahoo.com,Zeta Psi,F,Junior,Mayer 420,Baseball Club
2,Odonnell,juan19@hotmail.com,Theta,M,Graduate,Mayer 400,Book club
3,Archer,janet92@gmail.com,Theta,F,Freshman,Sharp 2,Rowing
4,Blair,ysutton@gmail.com,Zeta Psi,M,Sophmore,Mayer 420,Tennis Club
...,...,...,...,...,...,...,...
95,Nguyen,michaelmartinez@hotmail.com,Kappa,Not Specified,Sophmore,Mayer 400,Tennis Club
96,Reed,greerjerry@yahoo.com,AEPi,F,Freshman,Phelps 233,Dance Team
97,Carlson,smithdonna@hotmail.com,nan,Not Specified,Sophmore,Aron 439,Feminism
98,Santana,kelly09@gmail.com,AEPi,F,Graduate,Aron 233,Cookies and Code
99,Thomas,thomaszimmerman@gmail.com,SigEp,F,Junior,Mayer 420,Cookies and Code

In [46]:
# Function that returns a list of organizations which the student is involved in. 
def generate_student_org_list(student_name):
    return df.loc[df.Name == student_name]

In [47]:
df = df.append({"Name":"Richard"}, ignore_index=True)
generate_student_org_list("Richard")

,Name,Email,Greek,Gender,Year,Dorm,Clubs
0,Richard,nfisher@yahoo.com,Chi O,F,Senior,Phelps 233,Baseball Club
100,Richard,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Creating a new dataframe that contains students who have tested positive.
positive_df = pd.DataFrame(columns={'Name':[], 'Email':[], 'Greek':[], 'Gender':[], 'Year':[], 'Dorm':[], 'Clubs':[]})

def if_tested_positive(student_name):
    # Getting the index of the student in the original dataframe. 
    positive_index = df.loc[df.Name == student_name].index
    
    # Adding the student to the positive dataframe.
    positive_df = positive_df.append(df.iloc[positive_index], ignore_index=True)

<b>Resources</b>
<br>
Installing Faker: https://www.youtube.com/watch?v=jtOtFPIiflA
<br>